# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment Variables (BUNU SAKIN UNUTMA)
.env
app/backend/.env
app/frontend/.env

# Streamlit
.streamlit/secrets.toml

# System
.DS_Store
Thumbs.db